build/**
dist/**
debug/**
out/**
_build/**
cmake/
nbproject/private/
*.o
*.elf
*.map

# .hex sempre versionado, mesmo dentro das pastas de build acima
!build/**/
!dist/**/
!debug/**/
!out/**/
!_build/**/
!build/**/*.hex
!dist/**/*.hex
!debug/**/*.hex
!out/**/*.hex
!_build/**/*.hex
